@font-face {
  font-family: 'DXRigraf';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/DXRigraf-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/podkova-v32-cyrillic_latin-700.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Astra Sans';
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/PT-Astra-Sans_Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'PT Astra Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/PT-Astra-Sans_Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v47-cyrillic_latin-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v47-cyrillic_latin-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/roboto-v47-cyrillic_latin-regular.woff2') format('woff2');
}
